<!DOCTYPE html>
<html>
  <head>
    <title>ブランドiphoneケース</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=tf_til&t=thotta-22&m=amazon&o=9&p=8&l=as1&IS1=1&detail=1&asins=B06X95LD32&linkId=088683c7c48f60b10f36bf5e68662b1d&bc1=ffffff&lt1=_top&fc1=333333&lc1=0066c0&bg1=ffffff&f=ifr"> </iframe>
  </body>
</html>
